<style>
#result th {border-bottom:1px solid #CCC;width:150px;border-right:1px solid #CCC;border-left:1px solid #CCC;font-weight:bold;background:#EEE;}
.delete a {color: red;font-size:16px;font-weight:bold;}
.delete a:hover {opacity: 0.5;}
ul.deploy {margin-top:50px;display:none;}
table {margin-bottom:100px;}
table tr td {width:150px;text-align:center;}
.deploying {margin-left:50px;}
</style>
<script type="text/javascript">
$(document).ready(function(){
    Orbited.settings.port = 9000;
    TCPSocket = Orbited.TCPSocket;
    document.domain = document.domain;
        
    stomp = new STOMPClient();    
    stomp.onopen = function() {
        stomp.subscribe('/monitor', {exchange:''});
    };
                                
//        stomp.onclose = function(code) {
//            alert("Transport closed (code: " + code + ")");
//        };
    stomp.onerror = function(error) {
        alert("onerror: " + error);
    };
    stomp.onerrorframe = function(frame) {
        alert("onerrorframe: " + frame.body);
    };
//        stomp.onconnectedframe = function() {
//            stomp.send("<font color='green'>{{user}} Connected</font>",'/topic/home', {exchange:''});
//        };
    stomp.onmessageframe = function(frame) {
        var txt = frame.body;
        var data = JSON.parse(frame.body);
        
        for (i=0; i < data.length; i++) {
            var key = data[i]['key'];            
            $('td.ip.'+key).html(''+data[i]['ip']);
            if (data[i]['up']) {
                $('td.up.'+key).html('<img src="{{ MEDIA_URL }}images/up.png" width="16" height="16"></img> Up');
            } else {
                $('td.up.'+key).html('<img src="{{ MEDIA_URL }}images/down.png" width="16" height="16"></img> Down');
            }
            if (data[i]['port_22']) {
                $('td.port_22.'+key).html('<img src="{{ MEDIA_URL }}images/up.png" width="16" height="16"></img> Up');
            } else {
                $('td.port_22.'+key).html('<img src="{{ MEDIA_URL }}images/down.png" width="16" height="16"></img> Down');
            }
            if (data[i]['port_21']) {
                $('td.port_21.'+key).html('<img src="{{ MEDIA_URL }}images/up.png" width="16" height="16"></img> Up');
            } else {
                $('td.port_21.'+key).html('<img src="{{ MEDIA_URL }}images/down.png" width="16" height="16"></img> Down');
            }
            if (data[i]['port_80']) {
                $('td.port_80.'+key).html('<img src="{{ MEDIA_URL }}images/up.png" width="16" height="16"></img> Up');
            } else {
                $('td.port_80.'+key).html('<img src="{{ MEDIA_URL }}images/down.png" width="16" height="16"></img> Down');
            }
            if (data[i]['port_443']) {
                $('td.port_443.'+key).html('<img src="{{ MEDIA_URL }}images/up.png" width="16" height="16"></img> Up');
            } else {
                $('td.port_443.'+key).html('<img src="{{ MEDIA_URL }}images/down.png" width="16" height="16"></img> Down');
            }
            if (data[i]['port_25']) {
                $('td.port_25.'+key).html('<img src="{{ MEDIA_URL }}images/up.png" width="16" height="16"></img> Up');
            } else {
                $('td.port_25.'+key).html('<img src="{{ MEDIA_URL }}images/down.png" width="16" height="16"></img> Down');
            }
            if (data[i]['port_3306']) {
                $('td.port_3306.'+key).html('<img src="{{ MEDIA_URL }}images/up.png" width="16" height="16"></img> Up');
            } else {
                $('td.port_3306.'+key).html('<img src="{{ MEDIA_URL }}images/down.png" width="16" height="16"></img> Down');
            }

            $('td.time.'+key).html(''+data[i]['timestamp']);
        }        
    };            

    stomp.connect('localhost', 54123, 'guest', 'guest');

    $('button[name=deploy]').click(function(){
        var ip = $('input[name=ip]').val();
        var ssh_username = $('input[name=ssh_username]').val();
        var ssh_password = $('input[name=ssh_password]').val();
        var sudo_password = $('input[name=sudo_password]').val();
        var ssh_port = $('input[name=ssh_port]').val();
        var label = $('input[name=label]').val();
        var email = $('input[name=email]').val();
        var hp = $('input[name=hp]').val();
        
        $.ajax({
            type: 'POST',
            cache: false,
            url: "{% url deploying %}",
            data: {'ip':ip, 
                   'ssh_username':ssh_username, 
                   'ssh_password':ssh_password,
                   'ssh_port':ssh_port, 
                   'sudo': sudo_password,
                   'label': label,
                   'email': email,
                   'hp': hp
                   },
            beforeSend: function(){
                $('.status').text('deploy proses...');
            },
            success: function(resp){
                if (resp == 'True') {
                    window.location.reload();
                } else {
                    $('.status').text(resp);
                }
            }
        });
    });
    $('.delete').click(function(){
        var key = $(this).attr('key');
        $.ajax({
            type: "POST",
            url: "{% url delete_deploy %}",
            data: {'key': key},
            success: function(msg){
                if (msg == 'True') {
                    window.location.reload();
                }
            }
        });
    });
    $('.deploying').click(function(){
        $(this).hide();
        $('ul.deploy').fadeIn();
    });
    $('.reboot').click(function(){
        var ip = $(this).attr('ip');
        var answer = confirm("Apakah anda yakin untuk reboot server ini?");
        if (answer) {
            $.ajax({
                type: "POST",
                url: "{% url command %}",
                data: {'ip': ip},
                success: function(msg){
                    if (msg == 'True') {
                        window.location.reload();
                    }
                }
            });
        }
    });

});
</script>

        <table id="result" align="center">
            <th>Delete</th>
            <th>Label</th>
            <th>IP</th>
            <th>Status Mesin</th>
            <th>Status Service</th>
            <th>Waktu Akhir Monitor</th>
            <th>Action</th>
            <th>Info</th>
            <th>Quick Setting</th>
            {% for i in server_list%}
            <tr valign="top">
                <td class="delete {{i.key}}" key="{{i.key}}"><a href="#" title="Delete">X</a></td>
                <td class="label {{i.key}}">{{i.label}}</td>
                <td class="ip {{i.key}}">{{i.ip}}</td>
                <td class="up {{i.key}}" align="center">
                    {% if i.up %}
                        <img src="{{ MEDIA_URL }}images/up.png" width="16" height="16"></img> Up
                    {% else %}
                        <img src="{{ MEDIA_URL }}images/down.png" width="16" height="16"></img> Down
                    {% endif %}
                </td>
                <td style="width:200px;">
                <table>
                    <tr>
                    <td>FTP:</td>
                    <td class="port_21 {{i.key}}">
                    {% if i.port_21 %}
                        <img src="{{ MEDIA_URL }}images/up.png" width="16" height="16"></img> Up
                    {% else %}
                        <img src="{{ MEDIA_URL }}images/down.png" width="16" height="16"></img> Down
                    {% endif %}
                    </td>
                    </tr>
                    <tr>
                    <td>HTTP:</td>
                    <td class="port_80 {{i.key}}">
                    {% if i.port_80 %}
                        <img src="{{ MEDIA_URL }}images/up.png" width="16" height="16"></img> Up
                    {% else %}
                        <img src="{{ MEDIA_URL }}images/down.png" width="16" height="16"></img> Down
                    {% endif %}
                    </td>
                    </tr>
                    <tr>
                    <td>HTTPS:</td>
                    <td class="port_21 {{i.key}}">
                    {% if i.port_443 %}
                        <img src="{{ MEDIA_URL }}images/up.png" width="16" height="16"></img> Up
                    {% else %}
                        <img src="{{ MEDIA_URL }}images/down.png" width="16" height="16"></img> Down
                    {% endif %}
                    </td>
                    </tr>
                    <tr>
                    <td>MYSQL:</td>
                    <td class="port_3306 {{i.key}}">
                    {% if i.port_3306 %}
                        <img src="{{ MEDIA_URL }}images/up.png" width="16" height="16"></img> Up
                    {% else %}
                        <img src="{{ MEDIA_URL }}images/down.png" width="16" height="16"></img> Down
                    {% endif %}
                    </td>
                    </tr>
                    <tr>
                    <td>SMTP:</td>
                    <td class="port_25 {{i.key}}">
                    {% if i.port_25 %}
                        <img src="{{ MEDIA_URL }}images/up.png" width="16" height="16"></img> Up
                    {% else %}
                        <img src="{{ MEDIA_URL }}images/down.png" width="16" height="16"></img> Down
                    {% endif %}
                    </td>
                    </tr>

                </table>
                </td>
                <td class="time {{i.key}}">{{i.timestamp}}</td>
                <td class="reboot {{i.key}}" ip="{{i.ip}}"><a href="#">Reboot</a></td>
                <td class="detail {{i.key}}">
                    <a href="{% url info_detail %}?server={{i.key}}">Info Detail</a>
                </td>
                <td>
                    <input type="text" name="email" key="{{i.key}}" value="{{i.email}}"></input>
                    <button name="save_email">Set Email</button>
                    <input type="text" name="email" key="{{i.key}}" value="{{i.hp}}"></input>
                    <button name="save_hp">Set HP</button>
                </td>
            </tr>
            {% endfor %}
        </table>

<button class="button deploying">Deploy Menu</button>

<ul class="deploy">
    <li class="deploy_input">
        <div style="width:150px;display:inline-block;">Sudo Password:</div>
        <input type="password" name="sudo_password"></input>
    </li>
    <li style="border-bottom:1px solid #CCC;padding:5px;margin-bottom:5px;"></li>
    <li class="deploy_input">
        <div style="width:150px;display:inline-block;">IP Server:</div>
        <input type="text" name="ip"></input>
    </li>
    <li class="deploy_input">
        <div style="width:150px;display:inline-block;">Username SSH:</div>
        <input type="text" name="ssh_username"></input>
    </li>
    <li class="deploy_input">
        <div style="width:150px;display:inline-block;">Password SSH:</div>
        <input type="password" name="ssh_password"></input>
    </li>
    <li class="deploy_input">
        <div style="width:150px;display:inline-block;">Port SSH:</div>
        <input type="text" name="ssh_port" value="22"></input>
    </li>
    <li class="deploy_input">
        <div style="width:150px;display:inline-block;">Email Alert:</div>
        <input type="text" name="email"></input>
    </li>
    <li class="deploy_input">
        <div style="width:150px;display:inline-block;">No HP SMS Alert:</div>
        <input type="text" name="hp"></input>
    </li>

    <li class="deploy_input">
        <div style="width:150px;display:inline-block;">Nama Server:</div>
        <input type="text" name="label"></input>
    </li>
    <li class="deploy_input"><button class="button" name="deploy">Deploy!</button></li>
    <li class="deploy_input"><div class="status"></div></li>
</ul>
